<h1>New Session Note</h1>

<!-- This is the note that will be appearing -->
<div id="newNoteForm">
	<%= form_for @session_note, url: {action: "create"} do |f| %>
	  <%= f.text_area :note %>
	  <%= number_field(:session_note, :session_id) %>
	  <%= f.submit "Save" %>
	<% end %>
</div>

<%= link_to 'Back', session_notes_path %>
